
.transparent-button {
    background-color: transparent;
    border: none;
    color: white; /* Text color */
    cursor: pointer;
}

.shot-counter-popup {
	display: none; /* Initially hidden */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.shot-counter-popup-contents {
    text-align: center;

}

.paragraph {
    margin: 10px;
    padding-bottom: 5px;
}

.password-form {
    margin: 20px;
}
.password {
    padding: 5px;
    margin: 5px:
}